

/* .active{
    background-color: brown;
} */

.active{
    background-color: rgb(190, 99, 99);
}
.bg{
  text-shadow: 1px 2px rgb(18, 186, 60); 
  color: blue; 
  margin: 20px; 
  text-decoration: none;

}